html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  /* overflow-y: hidden; */
  height: 100%;
  background-image: url(../images/pix.jpg);
  /* background-color: #ddeaff; */
  /* background:  */
  overflow: hidden;
}

#chartdiv {
  width: 100%;
  /* height: 500px; */
  max-width: 100%;
  /* background-color: aquamarine; */
  height: 100vh !important;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.container__map {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 20px;
}

element.style {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  /* width: 1672px; */
  /* height: 500px; */
}

.map__logo {
  width: 100px;
  height: 70px;
}

.weather {
  height: 100vh;
  /* background-image: url(../images/all.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.8s ease-in-out;
}

.info {
  width: 100%;
  max-width: 800px;
  height: 400px;
  /* margin: 0 auto; */
  background-color: rgba(255, 255, 255, 0.533);
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.little__info {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 15px;
}

.map__img {
  width: 285px;
  height: 200px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dagre__icon {
  width: 100px;
  height: 100px;
}

.map__log {
  width: 110px;
  height: 60px;
}



.cssanimation {
  animation-duration: 25s;
  animation-fill-mode: both;
  display: inline-block;
}

/* coolVerticalShake animation declaration & iteration counting */
.coolVerticalShake { animation-name: coolVerticalShake; animation-iteration-count: infinite }

/* coolVerticalShake animation keyframes */
@keyframes coolVerticalShake {
    3%, 21%, 39%, 57%, 74%, 92% { transform: translateX(10px) }
    9%, 27%, 45%, 63%, 80%, 98%{ transform: translateX(10px) }
    9%, 27%, 45%, 63%, 80%, 98% { transform: translateX(-5px) }
}